# Server
PORT=4000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/taxsmart
JWT_SECRET= fill from your choice
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME= your cloud name
CLOUDINARY_API_KEY=your cloud name key
CLOUDINARY_API_SECRET=your cloud secret
# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5000
