# Server
PORT=4000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/taxsmart
JWT_SECRET=
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dqolgsiwo
CLOUDINARY_API_KEY=618154523822787
CLOUDINARY_API_SECRET=-qSqeb5NSQAKQSusOId68qLIi6g
# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5000
